<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rubbiish_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".util.RubbishApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Rubbiish_Android">
        <activity
            android:name=".ui.WriteMatchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AddPostUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AddPostArtistActivity"
            android:exported="false" />
        <activity
            android:name=".activity_addpost"
            android:exported="false" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.SignActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>